@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 500;
    background: #1b2229;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-container {
    width: 350px;
    padding: 20px;
    background-color: #2e3842;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    color: #21b2a6;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #3f4d59;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    color: #1b2229;
}

.form-group button {
    width: 100%;
    margin: auto;
    display: block;
}

button {
    width: 100%;
    margin: 10px 0;
    background: #21b2a6;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Edu AU VIC WA NT Pre", cursive;

}

button:hover {
    background: #199085;
}

.erro {
    color: #ff8a80;
    text-align: center;
}

.extra-links {
    text-align: center;
    margin-top: 20px;
}

.extra-links a {
    color: #a6e0db;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

