@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 500;
    background: url('../images/fundo_login.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.login-container {
    width: 350px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    background: rgb(18, 212, 18);
    background-clip: text;
    -webkit-background-clip: text; /* Para compatibilidade com WebKit (Safari, Chrome) */
    color: transparent;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
}

.form-group button {
    width: 100%; 
    margin: auto;
    display: block; 
}

button {
    width: 100%; 
    margin: 10px 0; 
    background:rgb(18, 212, 18);
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Edu AU VIC WA NT Pre", cursive;

}

button:hover {
    background:rgb(90, 224, 90);

}

.extra-links {
    text-align: center;
    margin-top: 20px;
}

.extra-links a {
    color: #cccccc;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

