@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    display: flex;
    justify-content: center;
    background: #1b2229;
    align-items: center;
    color: white;
}

.login-container {
    width: 350px;
    padding: 20px;
    background-color: #2e3842;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    color: #21b2a6;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #3f4d59;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    color: #1b2229;
}

button {
    width: 100%;
    margin: 10px 0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: #21b2a6;
    font-size: 15px;
}

button:hover {
    background-color: #199085;
}

.erro {
    color: #ff8a80;
    text-align: center;
}

.extra-links {
    text-align: center;
    margin-top: 20px;
}

.extra-links a {
    color: #a6e0db;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.language-switcher {
    display: flex;
    justify-content: center; /* Centraliza as bandeiras */
    gap: 10px; /* Espaço entre as bandeiras */
    margin-top: 20px; /* Distância do formulário */
}

.language-link {
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Mostra a mãozinha ao passar o mouse */
}

.language-flag{
    width: 30px; /* Largura proporcional */
    height: auto; /* Mantém a proporção */
    border-radius: 5px; /* Bordas arredondadas */
    transition: transform 0.3s ease; /* Animação de hover */
}

.language-flag:hover {
    transform: scale(1.1); /* Aumenta levemente ao passar o mouse */
}


